{
    "mnemonic": "mnemonic mnemonic mnemonic mnemonic mnemonic mnemonic mnemonic mnemonic mnemonic mnemonic mnemonic mnemonic",
    "endpoint": "https://:<api-key>@ropsten.infura.io/v3/<project-id>"
}
