{
    "mnemonic": "mnemonic mnemonic mnemonic mnemonic mnemonic mnemonic mnemonic mnemonic mnemonic mnemonic mnemonic mnemonic",
    "mainnet_endpoint": "https://:<api-key>@mainnet.infura.io/v3/<project-id>",
    "ropsten_endpoint": "https://:<api-key>@ropsten.infura.io/v3/<project-id>",
    "rinkeby_endpoint": "https://:<api-key>@rinkeby.infura.io/v3/<project-id>",
    "goerli_endpoint": "https://:<api-key>@goerli.infura.io/v3/<project-id>",
    "etherscan_api": "etherscan api key for running truffle verify contract"
}
